* {
    margin: 0;
    padding: 0;
}
    
    /* ----------------------------------------------Posters CSS------------------------------------------------- */
#biggbox {
    position: relative;
    text-align: center;
    color: white;
}

#biggbox #poster {
    width: 100%;

}

#biggbox > #center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 57px;
   font-weight: 900;
   font-family: 'Nunito', sans-serif;
   font-family: 'Poppins', sans-serif;

}

#biggbox > #top-left {position: absolute;
    top: 10px;
    left: 16px;
    transform: translate(8%, 50%);
    font-size: 12px;
}

/* --------------------------------------------Particular Banners CSS----------------------------------------- */

 #banners {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(238, 238, 238);
    height: 250px;
}

#banners .bannerbox {
    width: 20%;
    text-align: center;
    font-size: 13px;
    margin-top: -2px;
    padding: 20px;

}

.bannerbox #img {
    width: 50%;
    margin-top: 20px;
}


/* ------------------------------------------Products & Filter----------------------------------------------- */

#boxContainer {
    display: flex;
    margin: auto;
    
    margin-right: 10px;
    /* border: 1px solid red; */
    justify-content: space-evenly;
}


 /* .......................................Filters........................................ */

#filtering {
    width: 20%;
    /* border: 1px solid pink; */
    
 } 

 #filtering .filtersss {
    padding: 19.5px;
    width: 85%;
    border: none;
    border-bottom: 1px solid rgb(199, 199, 199); 
}

#filtering .filters {
    padding: 22px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(199, 199, 199);
}  

/* .......................................Large Products...................................... */

#products {
    /* border: 1px solid red; */
    width: 75%;
}

 #products .largeproducts {
  width: 100%;
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-evenly;
  margin: 30px 5px;
  padding: 10px;
}

.largeproducts .divs {
    width: 45%;
    /* border: 1px solid green; */
    position: relative;
  }  

.largeproducts img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

.largeproducts .divs:hover {
    cursor: pointer;
}

.divs .left {
    position: absolute;
    top: 85px;
    left: 20px;
    color: white;
    font-size: large;
    font-weight: bold;
}

.divs .lefty{
    position: absolute;
    bottom: 90px;
    left: 20px;
    color: white;
    font-size:40px;
    font-weight: bold;
} 

/* -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.Sorting-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.- */
.sort {
    width: 97%;
    /* border: 1px solid ; */
    display: flex;
    justify-content: flex-end;

}
 #sorting {
    width: 20%;
    /* border: 1px solid; */
    display:flex;
    justify-content: space-evenly;
}

.sortingOptions {
    border: none;
}   

/* .......................................Small Products...................................... */

.smallProducts {
  /* border: 1px solid brown; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(5,auto);
  gap: 20px;
  text-align: center;
}

.smallProducts .smallBox img{
    width: 80%;
    /* border: 1px solid black; */
}






/* -------------------------------------------Page Changer---------------------------------------------------- */











