* {
   margin: 0;
   padding: 0;
   font-family: Roboto, sans-serif;
}

#footerz {
   padding: 60px 40px 20px 40px;
   color: rgb(74, 74, 74);
   font-size: 14px;
   background-color: rgb(249, 249, 249);
}

#detailz {
   display: flex;
   justify-content: space-between;
   gap: 20px;
}

#detailz>div {
   width: 20%;
}

#detailz>div:first-child {
   width: 13%;
}

#detailz>div:nth-child(3) {
   width: 17%;
}

#detailz>div:nth-child(4) {
   width: 27%;
}

#detailz>div:nth-child(4)>p:last-of-type {
   text-decoration: underline;
}

#detailz>div:nth-child(4)>p:first-of-type {
   color: rgb(74, 74, 74);
}

#detailz h4 {
   line-height: 4;
   font-weight: 800;
}

#detailz p {
   line-height: 2.2;
   cursor: pointer;
}

#detailz p:hover {
   color: lightgray;
}

#followz {
   display: flex;
}

#followz>div {
   border: 1px solid lightgray;
   height: 50px;
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
   cursor: pointer;
}

#followz>div:hover {
   border: 1px solid rgb(68, 68, 68);
   background-color: rgb(68, 68, 68);
   color: white;
}

#acceptz {
   width: 63%;
   display: flex;
   margin: 27px auto;
   align-items: center;
   justify-content: space-between;
   color: gray;
}

span {
   cursor: pointer;
}

#acceptz>div>img {
   width: 10%;
   cursor: pointer;
}

#owendz {
   text-align: center;
   line-height: 1.7;
   border-top: 1px solid lightgray;
   padding: 20px;
}

#owendz span {
   text-decoration: underline;
}

/* navbar by shakil ahmad.................. */
body {
   height: 800vh;
   position: relative;
   background-color: white;
   
}
#navbars{
   position:sticky;
   z-index: 1;
   top:0;
   background-color: aliceblue;
}
#nav {
   display: flex;
   justify-content: space-around;
   border: 1px red solid;
   align-items: center;
   position: relative;
}

#nav>div {
   display: flex;
   align-items: flex-start;
   border: 1px green solid;
   gap: 30px
}

#nav_c1 {
   width: 15%;
}

#nav_c1>img {
   width: 100%;
}

#nav_c2>div {
   /* position:relative; */

   border: 1px solid rgb(198, 17, 234);
}

#nav_c3>div:last-child {
   display: flex;
   gap: 5px;

}

#added_items {
   border: 1px solid fuchsia;
   padding: 0 5px;
   background-color: gray;
   border-radius: 50%;
}

/* .abs{
   position:absolute;
   display: none;
} */
.dropdowns {
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   border: 2px solid salmon;
   display: none;
   padding: 0 10%;
   justify-content: space-around;
}
#searchs>div{
   top:0;
   right:0;
   z-index: 4;
   position:absolute;
   height:100vh;
   width:400px;
   border:1px red solid;
   background-color: white;
   display:none;
}